
@model DemoModel

<form method="post">
	<label asp-for="Headline"></label>
	<input asp-for="Headline"></input>
	<br />
	<label asp-for="Article"></label>
	<textarea asp-for="Article" rows="5" cols="40"></textarea>
	<br />
	<button>Send inn!</button>
</form>