@model IEnumerable<Genre>

<h2>Sjangre</h2>
<ul>
	@foreach (var genre in Model)
	{
		<li>
			<a asp-action="MoviesByGenre" asp-controler="Movie" asp-route-genrename="@genre.Name">@genre.Name</a>
		</li>
	}
</ul>
