@model Person

<h2>@Model.Name</h2>

@Html.Partial("_Movies", Model.ActedMovies.WithTitle("Spilt i"))
@Html.Partial("_Movies", Model.DirectedMovies.WithTitle("Regisert"))
@Html.Partial("_Movies", Model.ProducedMovies.WithTitle("Produsert"))
