@model EnumerableWithTitle<Person>

<h2>@Model.Title</h2>
<ul>
	@foreach (var person in Model)
	{
		<li>
			<a asp-action="Details" asp-controller="Person" asp-route-id="@person.PersonId">@person.Name</a>
		</li>
	}
</ul>